* {
	font-family: Arial, Verdana, sans-serif;
	
	text-align: center;
}
a {
	color: black;
}
body {
	width: 90%;
	margin: 0 auto;
	background-image:url("background.jpg");
}
#content {
	overflow: auto;
	color: #665544;
}
#nav, #contact{
	margin: 0.5%;
}
li {
	display: inline;
	padding: 0.5em;
}
#nav {
	background-color: hotpink;
	padding: 0.5em 0;
}
.article, #contact {
	
	height: 25em;
	margin-bottom: 1em;
	background-color: #efefef;
}


